<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>DSEM Lab.</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/AdminLTE.css" rel="stylesheet" type="text/css" />
    <script src="/js/iconify.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-ui-1.10.3.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/AdminLTE/app_homepage.js" type="text/javascript"></script>
    <script src="/js/function.js"></script>

    <script>
            var innerText = [];
            innerText.push(document.getElementById('name').innerText);
            innerText.push(document.getElementById('department').innerText);
            innerText.push(document.getElementById('laboratory').innerText);
            innerText.push(document.getElementById('email').innerText);
            innerText.push(document.getElementById('location').innerText);
            innerText.push(document.getElementById('research').innerText);

            $("input[name=name]").attr('value', innerText[0]);
            $("input[name=department]").attr('value', innerText[1]);
            $("input[name=Laboratory]").attr('value', innerText[2]);
            $("input[name=Email]").attr('value', innerText[3]);
            $("input[name=Location]").attr('value', innerText[4]);
            $("input[name=FieldOfResearch]").attr('value', innerText[5]);
    </script>
</head>

<body class="skin-black">
    <!--#Edit 교수님 정보 수정, 진행 중--> 
    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
        style=" padding-left: 70px; padding-top: 80px;">

        <div class="modal-dialog">
            <div class="modal-content" style="width: 600px; height: 600px;">
                <div class="modal-header" style="height: 50px; font-size: 18px; text-align: center;">
                    Edit
                </div>
                <div class="modal-body">
<%                  let edit_member=['name','department', 'Laboratory', 'Email', 'Location', 'FieldOfResearch' ];
                    for(let i=0; i<edit_member.length; i++) { 
%>
                    <div style="margin-right: 10px; margin-left:50px; width: 60px;">
                        <h13 style="margin-left: 50px;">
<%=                         edit_member[i] + ':'        %>
                        </h13>                   
                        <input type='text' name='<%=edit_member[i]%>' id='<%='professorUpdate_'+edit_member[i]%>' value = '' style="margin-left:50px; width: 350px"/>
                    </div>
<%                  } %>
                    <br>
                    <input type="file" accept="image/*" style="margin-left:100px; width: 350px;" id="imgFile" />
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-dismiss="modal"
                        onclick="professor_update()">Save</button>
                    <button type="submit" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <aside class="right-side" style="margin-left: 0px; margin-top: 0px;">
        <div class="content-header" style="height:30px">
            <h1>Professor
                <% if(userInfo!=null) { %>
                    <a href="#" data-toggle="modal" data-target="#edit" type="button" class="btn btn-primary"
                        style="float:right; height: 35px;">
                        <h14 style="font-size: 15px;">
                            Edit
                        </h14>
                    </a>
                    <% } %>
            </h1>
        </div>
        <section class="content">
            <div class="row" style="padding-left: 12px;">
                <div class="box box-info">
                    <div class="box-header" style="left: 200px;">
                    </div>
                    <div class="box-body">
                        <% let professor_name = professor_results[0].name.slice(0,3);%>
                        <img src = <%="/img/" + professor_name + ".jpg" %> onerror="javascript:this.src='/img/default.png'" align="left"/>
                        <h10>
                            <professor>
                                <name class = "Name" id= 'name' style="font-weight: 700;">
                                    <%=professor_results[0].name%>
                                </name>
                            </professor>
                        </h10>
                        <li>
                            Department :
                            <department class= "Department" id = 'department'>
                                <%=professor_results[0].department%>
                            </department>
                        </li>
                        <li>
                            Laboratory :
                            <laboratory class = "Laboratory" id = 'laboratory'>
                                <%=professor_results[0].laboratory%>
                            </laboratory>
                        </li>
                        <li>
                            e-mail :
                            <email class= "Email" id = 'email'>
                                <%=professor_results[0].email%>
                            </email>
                        </li>
                        <li>
                            Location :
                            <location class="Location" id='location'>
                                <%=professor_results[0].location%>
                            </location>
                        </li>
                        <li>
                            Field of research :
                            <research class="Research" id='research'>
                                <%=professor_results[0].fieldOfResearch%>
                            </research>
                        </li>
                    </div>
                </div>
            </div>
        </section>
    </aside>
    </div>
</body>

</html>