<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>DSEM Lab.</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/AdminLTE.css" rel="stylesheet" type="text/css" />
    <script src="/js/iconify.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-ui-1.10.3.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/AdminLTE/app_homepage.js" type="text/javascript"></script>
    <script src="/js/function.js"></script>

    <!-- 삭제할 때 테이블의 해당 행 삭제되어 보이도록 함 -->
    <script>
        function rowDel(obj) {
            var Del_tr = obj.parentNode.parentNode.parentNode;
            console.log(Del_tr);
            Del_tr.parentNode.removeChild(Del_tr);
        }
    </script>

    <!-- 수정할 때 테이블의 해당 행의 정보가 미리 input값으로 존재 -->
    <script>

        let memberInfo = [];
        $(".updateBtn").click(function () {
            var updateBtn = $(this);

            var tr = updateBtn.parent().parent().parent();
            var td = tr.children();

            td.each(function (i) {
                memberInfo[i] = td.eq(i).text().trim();
            })
            $("input[name=number]").attr('value', memberInfo[0]);
            $("input[name=name]").attr('value', memberInfo[1]);
            $("input[name=department]").attr('value', memberInfo[2]);
            $("input[name=Email]").attr('value', memberInfo[3]);
            $("input[name=yearOfAdmission]").attr('value', memberInfo[4]);
            $("input[name=researchTopics]").attr('value', memberInfo[5]);
            $("input[name=beforeName]").attr('value', memberInfo[1]);
            //$("label[name=labelImg]").text(memberInfo[1]+".jpg");
        });
    </script>
    <!-- 스크롤 일정이하로 내려가면 위로가기 버튼 생성 -->
    <script>
        $(window).scroll(function() {
            if ($( this).scrollTop() > 200 ) {
                $('.top').fadeIn();
            } else {
                $('.top').fadeOut();
            }
        });
        $('.top').click( function() {
            $('html, body').animate({scrollTop : 0}, 400);
            return false;
        });
    </script>
    <!-- 실적보기 클릭 시 해당 연구원이 들어간 논문리스트 리턴-->
    <script>

        function regularExpression(str) {
            //str = str.replace(/^,/,"");
            
            str = str.replace(/,{2,}/gi, ",");
            str = str.replace(".,",",");
            str = str.replace(/,/gi, ", ");
            
            return str;
        }
        
        function selectPerformance(name) {
            let performanceList = [];
            let journal_strArray = '<%=paper_results[0]%>'.split("^");
            let conference_strArray = '<%=paper_results[1]%>'.split("^");
            let IJ = [], DJ = [];
            let IC= [], DC = [];
            /*
            if(str.indexOf("IJ") != -1) {
                str = str.substring(str.indexOf("IJ")+3, str.length);
            } else if(str.indexOf("DJ") != -1) {
                str = str.substring(str.indexOf("DJ")+3, str.length);
            } else if(str.indexOf("IC") != -1) {
                str = str.substring(str.indexOf("IC")+3, str.length);
            } else if(str.indexOf("DC") != -1) {
                str = str.substring(str.indexOf("DC")+3, str.length);
            }
            */

            for(let i =0; i<journal_strArray.length; i++) {
                if(journal_strArray[i].includes(name)) {
                    if(journal_strArray[i].indexOf("IJ") != -1) {
                        journal_strArray[i] = journal_strArray[i].substring(journal_strArray[i].indexOf("IJ")+3, journal_strArray[i].length);
                        let journal_IJ = regularExpression(journal_strArray[i]);
                        IJ.push(journal_IJ);
                    } else if(journal_strArray[i].indexOf("DJ") != -1) {
                        journal_strArray[i] = journal_strArray[i].substring(journal_strArray[i].indexOf("DJ")+3, journal_strArray[i].length);
                        let journal_DJ = regularExpression(journal_strArray[i]);
                        DJ.push(journal_DJ); 
                    }
                }
            }
            
            
            for(let i =0; i<conference_strArray.length; i++) {
                if(conference_strArray[i].includes(name)) {
                    if(conference_strArray[i].indexOf("IC") != -1) {
                        conference_strArray[i] = conference_strArray[i].substring(conference_strArray[i].indexOf("IC")+3, conference_strArray[i].length);
                        let conference_IC = regularExpression(conference_strArray[i]);
                        IC.push(conference_IC);
                    } else if(conference_strArray[i].indexOf("DC") != -1) {
                        conference_strArray[i] = conference_strArray[i].substring(conference_strArray[i].indexOf("DC")+3, conference_strArray[i].length);
                        let conference_DC = regularExpression(conference_strArray[i]);
                        DC.push(conference_DC);
                    }
               }
            }
            
            performanceList.push(IJ);
            performanceList.push(DJ);
            performanceList.push(IC);
            performanceList.push(DC);
            if(IJ,DJ,IC,DC.length < 1) {
                return "연구실적이 없습니다."
            } else {
                return performanceList;
            }
        }
    </script>
    <script>
        var researcherName = [];
        var name = $('div .researcherName').text().replace(/(\s*)/g,"");
        var tmp = '';

        for(let i =0; i<name.length; i+=3) {
            tmp = name.substring(i, i+3);
            researcherName.push(tmp);
        }

        for(let i =0; i<researcherName.length; i++) {
            $(".memberName"+researcherName[i]).click(function () {
                var performanceList = selectPerformance(researcherName[i]);
                var target = $(".memberName"+researcherName[i]).text().replace(/(\s*)/g,"");
                if(target == "실적보기") {
                    if(performanceList != "연구실적이 없습니다.") {
                        var all_tag = [];
                        if(performanceList[0].length > 0) { // International Journal
                            var IJ_tag = "<div class= 'performance"+researcherName[i]+"'"+ "style='width: 1600px; height: auto; color: black;'><br><p style='font-size:20px;'>&bull;&nbsp;<strong>International Journal</strong></p></div>";
                            for(let i =0; i<performanceList[0].length; i++) {
                                IJ_tag += "<h11>" +(i+1) + ". " + performanceList[0][i] +"<br></h11>";
                            }
                            all_tag.push(IJ_tag);
                        }
                        if(performanceList[1].length > 0) {
                            var DJ_tag = "<div class= 'performance"+researcherName[i]+"'"+ "style='width: 1600px; height: auto; color: black;'><br><p style='font-size:20px;'>&bull;&nbsp;<strong>Domestic Journal</strong></div>";
                            for(let i =0; i<performanceList[1].length; i++) {
                                DJ_tag += "<h11>" +(i+1) + ". " + performanceList[1][i] + "<br></h11>";
                            }
                            all_tag.push(DJ_tag);
                        }
                        if(performanceList[2].length > 0) {
                            var IC_tag = "<div class= 'performance"+researcherName[i]+"'"+ "style='width: 1600px; height: auto; color: black;'><br><p style='font-size:20px;'>&bull;&nbsp;<strong>International Conference</strong></p></div>";
                            for(let i =0; i<performanceList[2].length; i++) {
                                IC_tag += "<h11>" +(i+1) + ". " + performanceList[2][i] +"<br></h11>";
                            }
                            all_tag.push(IC_tag);
                        }
                        if(performanceList[3].length > 0) {
                            var DC_tag = "<div class= 'performance"+researcherName[i]+"'"+ "style='width: 1500px; height: auto; color: black;'><br><p style='font-size:20px;'>&bull;&nbsp;<strong>Domestic Conference</strong></p></div>";
                            for(let i =0; i<performanceList[3].length; i++) {
                                DC_tag += "<h11>" +(i+1) + ". " + performanceList[3][i] +"<br></h11>";
                            }
                            all_tag.push(DC_tag);
                        }
                    } else {
                        var null_tag = "<div class= 'performance"+researcherName[i]+"'"+ "style='width: 1600px; height: auto; color: black;'><h11><br>" + "연구실적이 없습니다." +"<br></h11></div>";
                    }
                    if(performanceList != "연구실적이 없습니다.") {
                        $("div .performance"+researcherName[i]).append(all_tag);
                    } else {
                        $("div .performance"+researcherName[i]).append(null_tag);
                    }
                    $(".memberName"+researcherName[i]).text("실적닫기");
                } else if(target == "실적닫기") {
                    $("div .performance"+researcherName[i]).empty();
                    $(".memberName"+researcherName[i]).text("실적보기");
                }
            });
        }
    </script>
</head>

<body class="skin-black">
    <!--#New, 연구원 데이터 등록-->
    <div class="modal fade" id="new" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
        style=" padding-left: 150px; padding-top: 120px;">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 600px; height: 550px;">
                <div class="modal-header" style="height: 50px; text-align:center;">
                    New
                </div>
                <div class="modal-body">
                    <form method="POST" enctype="multipart/form-data" action="/researcherUpload" style="width:550px">
                        <div class="form-group">
        <%                  let new_member=['name','department' , 'Email' , 'yearOfAdmission' , 'researchTopics' ];
                            let placeholder_member = ['', '', 'ex) abc123 (at) gmail (dot) com', '', ''];
                            for(let i=0; i<new_member.length; i++) {
        %>
                                <div style="margin-right: 10px; margin-left:50px; width: 60px;">
                                    <h13 style="margin-left: 50px;">
                            <%=         new_member[i] + ':' %>
                                    </h13>
                                    <input class='<%=new_member[i]%>' name='<%=new_member[i]%>' id='<%=new_member[i]%>' style="margin-left:50px; width: 350px" value='' placeholder = '<%=placeholder_member[i]%>'/>
                                </div>
        <%                      }                                       %>
                        </div> 
                        <div class="form-group">
                            <input type="file" name="researcherUpload" id="file" style = "width:400px; margin-left: 100px;" placeholder="파일 선택"/>
                        </div>
                        <br>
                        <button type="reset" class="btn btn-default clear" style="font-size: 16px;float:right; margin-left:5px">clear</button>
                        <button type="submit" class="btn btn-primary" style="font-size: 16px;float:right;">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--#list, DB에서 조회-->
    <div class="modal fade" id="list" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
        style=" margin-left: -400px; padding-top: 80px;">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 1050px; height: 600px;">
                <button type="submit" class="btn btn-default" data-dismiss="modal" style="float:right">Close</button>
                <div class="modal-header" style="height: 50px;">
                    <center style="font-size: 18px;">
                        <string>
                            Member list
                        </string>
                    </center>
                </div>
                <!-- <br> -->
                <table class="table table-hover memberTable" id="memberTable" style="margin-left:10px; width:1000px">
                    <thread>
                        <tr>
                            <th>
                                <center>
                                    Number
                                </center>
                            </th>
                            <th>
                                <center>Name</center>
                            </th>
                            <th>
                                <center>Department</center>
                            </th>
                            <th>
                                <center>E-mail</center>
                            </th>
                            <th>
                                <center>YearOfAdmission</center>
                            </th>
                            <th>
                                <center>ResearchTopics</center>
                            </th>
                            <th>
                                <center>Edit</center>
                            </th>
                            <th>
                                <center>Delete</center>
                            </th>
                        </tr>
                    </thread>
                    <tbody>
<%                      for(let i=0; i<researcher_results.length; i++) {    %>
                            <tr>
                                <td>
                                    <center>
<%=                                     i+1                                 %>
                                    </center>
                                </td>
                                <td>
                                    <center>
<%=                                     researcher_results[i][1]            %>
                                    </center>
                                </td>
                                <td>
                                    <center>
<%=                                     researcher_results[i][4]            %>
                                    </center>
                                </td>
                                <td>
                                    <center>
<%=                                     researcher_results[i][5]            %>
                                    </center>
                                </td>
                                <td>
                                    <center>
<%=                                     researcher_results[i][6]            %>
                                    </center>
                                </td>
                                <td>
                                    <center>
<%=                                     researcher_results[i][7]            %>
                                    </center>
                                </td>
                                <td>
                                    <center>
                                        <a href="#" class="btn btn-default updateBtn" data-toggle="modal"
                                            data-target="#edit" type="button">
                                            수정</a>
                                    </center>
                                </td>
                                <td>
                                    <center>
                                        <a type="button" class="btn btn-primary"
                                            onclick="researcher_delete('<%= researcher_results[i][1] %>'); javascript:rowDel(this)">
                                            삭제
                                        </a>
                                    </center>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>

                <br>
            </div> -->
        </div>
    </div>
    <!--   #list -> #edit   -->
    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
        style=" padding-left: 70px; padding-top: 80px;">

        <div class="modal-dialog">
            <div class="modal-content" style="width: 600px; height: 600px;">
                <div class="modal-header" style="height: 50px;">
                    <center style="font-size: 18px;">Edit</center>
                </div>
                <div class="modal-body">
                    <form method="POST" enctype="multipart/form-data" action="/researcherUpdate" style="width:550px">
                        <div class="form-group">
<%                          let edit_member=['number','name','department' , 'Email' , 'yearOfAdmission' , 'researchTopics' ]; 
                            for(let i=0; i<edit_member.length; i++) { %>
                                <div style="margin-right: 10px; margin-left:50px; width: 60px;">
                                    <h13 style="margin-left: 50px;">
    <%=                                 edit_member[i] + ':'    %>
                                    </h13>
    <%                              if(i == 0) {            %>
                                        <input type='text' name='<%=edit_member[i]%>' id='<%=edit_member[i]%>' value = '' style="margin-left:50px; width: 350px;" readonly/>
    <%                              } else {                %> 
                                        <input class='<%=edit_member[i]%>' name='<%=edit_member[i]%>' id='<%=edit_member[i]%>' style="margin-left:50px; width: 350px" value=''/>
    <%                              }                       %>
                                </div>
<%                          }                               %>
                            <input type='hidden' name='beforeName' id='beforeName' value = '' style="margin-left:50px; width: 350px;"/>
                        </div>
                        <div class="form-group">
                            <!-- <label class="btn btn-primary btn-file" style="margin-left: 100px;" name="labelImg" for="file"> -->
                                <!-- 파일추가 -->
                                <input type="file" name="researcherUpdate" id="file" id="file" >
                            <!-- </label> -->
                        </div>
                        <br>
                        <button type="reset" class="btn btn-default clear" style="font-size: 16px;float:right; margin-left:5px">clear</button>
                        <button type="submit" class="btn btn-primary" style="font-size: 16px;float:right;">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <aside class="right-side" style="margin-left: 0px; margin-top: 0px;">
        <div class="content-header" style="height:30px">
            <h1>Researcher
<%              if(userInfo!=null) { %>
    &nbsp;
                <a href="#" data-toggle="modal" data-target="#list" type="button" class="btn btn-default" style="float:right; height: 35px; margin: 0px 3px 3px 0px;">
                    <h14 style="font-size: 15px;">
                        Edit
                    </h14>
                </a>
                <a href="#" data-toggle="modal" data-target="#new" type="button" class="btn btn-primary" style="float:right; height: 35px; margin: 0px 3px 3px 0px;">
                    <h14 style="font-size: 15px;">
                        New
                    </h14>
                </a>
<%              }                    %>
            </h1>
        </div>
        <section class="content">
            <div class="row" style="padding-left: 12px;">
                <div class="box box-info">
                    <div class="box-header">
                    </div>
<%                  for(let i=0; i<researcher_results.length; i++) {        %>
                        <div class="box-body">
                            <img src = <%="/img/" +researcher_results[i][1] + ".jpg" %> onerror="javascript:this.src='/img/default.png'" align="left"/>
                            <div class="researcherName">
                                <h11>
                                    <strong>
    <%=                                 researcher_results[i][1]                %>
                                    </strong>
                                </h11>
                            </div>
                                <li>
                                    Department : <%= researcher_results[i][4]%>
                                </li>
                                <li>
                                    E-mail : <%= researcher_results[i][5]%>
                                </li>
                                <li>
                                    Year of admission : <%= researcher_results[i][6]%>
                                </li>
                                <li>
                                    Research topics :<%= researcher_results[i][7]%>
                                </li>
                                
                            <button class="<%="memberName"+researcher_results[i][1]%>" style="border: 0; outline:0; height: 32px; color: black; font-size:14px;" >
                                실적보기
                                <br>
                            </button>
                            <div class="<%="performance"+researcher_results[i][1]%>">
                            </div>
                        </div>
                        <%                  } %>
                    </div>
                    <a href="#" class="top" style="position: fixed; left:95%; bottom:50px; display:none; font-size:30px; color:black">
                        <i class="fas fa-arrow-up"></i>
                    </a>
        </section>
    </aside>

</body>

</html>